.header-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.title {
    background-color:#cecece ;
    padding: 10px;
    height: 60%;
    
}

.title h1 {
    font-size: 2rem;
}

.title h2 {
    font-size: 1rem;
}

.location-wrapper {
    display: flex;
    width: 100%;
    border-radius: 0px;
    
}

.location-1 {
    background-color: #e2e2e2;
    padding: 10px;
    width: 50%;
}

.location-1 h3 {
    font-size: 0.5rem;
    text-align: start;
    padding-right: 10px;
    margin: 0;
}

.location-1 h2 {
    margin-bottom: 0px;
}

.location-2 h2 {
    margin-bottom: 0px;
}

.location-2 h3 {
font-size: 0.5rem;
text-align: start;
margin: 0;
}



.location-2 {
    background-color: #e5e5e5;
    width: 50%;
    padding: 10px;
}



